body{
    background-color: aquamarine;
}
table{
    background-color: blueviolet;
    border-radius: 10px;
    border-color: brown;
    border-style: groove;
    border-width: 10px;
}
h1 {
    background-color: greenyellow;
    text-align: center;
}