#disp{
    
    
    background-color: lightcoral;
    border: 10px solid green;
  }
  h1{
    
    background-color: blue;
    color: aliceblue;
    font-size: 30px;
    
    
  }
  h2{
    font-size: 20px;

    
  }