.fitems{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border-color: aqua;
    border-width: 10px;
    border-style: double;
    margin: 20px;
}
.fcontainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#item1{
    order: 2;
}